doctype html
html(lang='en')
  head
    title You have been invited to a meeting
  body
    div
      p 
        | #{creatorName} has invited you to a meeting on #{dayName} #{periodName}, #{dateName}
        if roomName
          | , in #{roomName}
        |, for #{name}.
      p
        | Click 
        a(href=`${base}/Invitation/${invitationID}`) here
        |  to accept or decline the invitation. Accepting will create a corresponding event in your Google Calendar.
  footer
    p 
      | You're receiving this email because of your Commontime email settings. To change it, visit your 
      a(href=`${baseUrl}/Profile`) profile page
      |.