doctype html
html(lang='en')
  head
    title You have been added to a recurring meeting
  body
    div
      p 
        | #{creatorName} has added you to a weekly meeting on #{dayName} #{periodName}
        if roomName
          | , in #{roomName}
        |, for #{name}.
      p
        | Events have been created in your Commontime Calendar to mark this weekly meeting. 
  footer
    p 
      | You're receiving this email because of your Commontime email settings. To change it, visit your 
      a(href=`${baseUrl}/Profile`) profile page
      |.